<header class="header" th:fragment="header">
  <div class="note-div" th:if="${header.notification_bar.show_announcement}"
    th:utext="${header.notification_bar.announcement_text}">
  </div>
  <div class="max-width header-div">
    <div class="wrapper-logo">
      <a href="/" title="Contentstack">
        <img class="logo" th:src="${header.logoConnection.edges[0].node.url}" alt="Company Logo" />
      </a>
    </div>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" htmlFor="menu-btn">
      <span class="navicon"></span>
    </label>
    <nav class="menu">
      <ul class="nav-ul header-ul">
        <li class="nav-li" th:each="list :${header.navigation_menu}">
          <a th:href="${list.page_referenceConnection.edges[0].node.url}"
            th:text="${list.page_referenceConnection.edges[0].node.title}">
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>