<div class="about-team-section" th:fragment="teamSection">
  <div class="team-head-section">
    <h2 th:text="*{our_team.title_h2}"></h2>
    <p th:text="*{our_team.description}"></p>
  </div>
  <div class="team-content">
    <div class="team-details" th:each="employee : ${component.our_team.employees}">
      <img alt="employees avatar" th:src="${employee.imageConnection.edges[0].node.url}" />
      <div class="team-details">
        <h4 th:text="${employee.name}"></h4>
        <p th:text="${employee.designation}"></p>
      </div>
    </div>
  </div>
</div>