<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../styles/third-party.css" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap" rel="stylesheet" />
    <title>Blog</title>
</head>

<body>
    <div lang="en" th:replace="components/header :: header"></div>
    <main class="mainClass">
        <div lang="en" th:replace="components/render-components :: renderComponents"></div>
        <div lang="en" th:replace="components/blog-content :: blogPost"></div>
    </main>
    <div lang="en" th:replace="components/footer :: footer"></div>
</body>

</html>