<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block th:each="key:${data.seo}">
        <th:block th:if="${key}=== enable_search_indexing">
            <div th:text="${key}"></div>
        <!-- <meta name="${key.name}" content="" /> -->
    </th:block>
    </th:block>
    <link href="styles/third-party.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap" rel="stylesheet" />
    <title>Home Page</title>
</head>

<body>
    <div lang="en" th:replace="components/header :: header"></div>
    <main class="mainClass">
        <div lang="en" th:replace="components/render-components :: renderComponents"></div>
    </main>
    <div lang="en" th:replace="components/footer :: footer"></div>
</body>

</html>